---
layout: page
title: My Study Road
tagline: About physics, machine learning, mathematics and any others 
---
{% include JB/setup %}

　　<h2>{{ page.title }}</h2>
<div id="output" hidden>
  {% include viz/all.dot %}
</div>
　　<p>最新文章</p>
　　<ul>
　　　　{% for post in site.posts %}
　　　　　　<li>
            <h3>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }} ...</p>
          </li>
　　　　{% endfor %}
　　</ul>

<script>
    //渲染
    import("{{ ASSET_PATH }}/viz/viz-standalone-4f267b9b.js")
  .then(module => module.instance())
  .then(viz => {
    let vizOutPut = document.getElementById("output");
    vizOutPut.appendChild(viz.renderSVGElement(vizOutPut.innerText));
    vizOutPut.hidden = false;
    renderSentenceNetData(viz, initData)
  });

</script>